html, body {
    width: 100%;
    height: 100%;
}

#map {
    height: 400px;
}

.color-list {
    list-style: none;

}

.color-list li {
    display: flex;
    flex-direction: row;
}

.box {
    height: 45px;
    width: 45px;
    border-radius: 4px;
    margin: 5px;
}

.box-label {
    font-size: 1.2em;
    line-height: 45px;
    padding-left: 1em;
}

.red {
    background: #a83c32;
}

.yellow {
    background: #e6d347
}

.green {
    background: #32c40e
}

.orange {
    background: #c48a0e; 
}

i.far, i.fal {
    padding-right: 10px;
}

#myChart {
    height: 650 !important;
    width: 100% !important;
}